<!DOCTYPE html>
<html>
<head>
	<!-- Here are my comments -->
	<title>Seattle</title>
<style>

	body {
		background-color: lightgrey;

	}

	h1 {

		text-align: center;

	}

	h5 {

		text-align: center;

	}

	div {

		text-align: center;

	}

	#seattleinfo {

		text-align: justify;
		margin: 20px 250px;

	}

</style>

</head>
<body>
<!-- content goes in the body -->
<h1><strong>Welcome to Seattle!</strong></h1>

<div class="container">
	<div id="seattlepic">
		<img src="https://images.unsplash.com/photo-1516901632977-d141a38d469b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
	</div>
	<br>
	<hr>
	<div id="seattleinfo">
		<p>Seattle (/siˈætəl/ see-AT-əl) is a seaport city on the West Coast of the United States. It is the seat of King County, Washington. With an estimated 730,000 residents as of 2018, Seattle is the largest city in both the state of Washington and the Pacific Northwest region of North America. According to U.S. Census data released in 2018, the Seattle metropolitan area’s population stands at 3.87 million, and ranks as the 15th largest in the United States.[9] In July 2013, it was the fastest-growing major city in the United States[10] and remained in the Top 5 in May 2015 with an annual growth rate of 2.1%.[11] In July 2016, Seattle was again the fastest-growing major U.S. city, with a 3.1% annual growth rate.[12] Seattle is the northernmost large city in the United States. - <strong><a href="https://en.wikipedia.org/wiki/Seattle">Wikipedia</a></strong></p>

</div>

<%= link_to 'Alpha Blog', articles_path %> |<%= link_to 'More', more_path %>

<h5>This is a footer in pure HTML. (c) Edwardo Jackson 2019</h5>
</body>
</html>



