<!DOCTYPE html>
<html>
<head>
	<!-- Here are my comments -->
	<title>Seattle</title>
<style>

	body {
		background-color: lightgrey;

	}

	h1 {

		text-align: center;

	}

	h5 {

		text-align: center;

	}

	div {

		text-align: center;

	}

	#seattleinfo {

		text-align: justify;
		margin: 20px 250px;

	}

</style>

</head>
<body>
<!-- content goes in the body -->
<h1><strong>Recent History of Seattle</strong></h1>

<div class="container">
	<div id="seattlepic">
		<img src="https://images.unsplash.com/photo-1533662324352-7a3701c1cfd9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=890&q=80">
	</div>
	<br>
	<hr>
	<div id="seattleinfo">
    <p>In 1979, Bill Gates (1955–) and Paul Allen (1954–2018), founders of Microsoft, moved their small company from New Mexico to the suburbs of their native Seattle.[28] By 1985, sales were over $140 million, by 1990, $1.18 billion, and by 1995, Microsoft was the world's most profitable corporation, Allen and Gates were billionaires, and thousands of their past and present employees were millionaires. Microsoft spawned a host of other companies in the Seattle area: millionaire employees often left to found their own companies, and Allen, after his own departure from Microsoft, became a major investor in new companies. Seattle-area companies that owe their origins at least indirectly to Microsoft include RealNetworks, AttachmateWRQ, InfoSpace, and a host of others. Quite unlike Boeing, Microsoft has served as a catalyst for the creation of a whole realm of industry. Microsoft has also taken a much more active hand than Boeing in public works in the area, donating software to many schools (including the University of Washington).
</p>
<p>Seattle has also been experiencing quite good growth in the biotechnology and coffee sectors, with international coffeeshop chain Starbucks originating from Seattle, and Seattle-based Nordstrom now a national brand.

<p>Paul Allen, whose fortune was made through Microsoft though he had long since ceased to be an active participant in the company, was a major force in Seattle politics. He attempted a voter initiative to build the Seattle Commons, a huge park in South Lake Union and the Cascade District, and even offered to put up his own money to endow a security force for the park, but it was defeated at the polls. (Allen then became the leader of the movement to redevelop this same area as a biotech center.) He did get a football stadium for the Seattle Seahawks through a successful statewide ballot initiative, and founded the Experience Music Project (originally intended as a Jimi Hendrix museum) on the grounds of Seattle Center.[29] - <strong><a href="https://en.wikipedia.org/wiki/Seattle">Wikipedia</a></strong></p>

</div>

<%= link_to 'Home', root_path %>


<h5>This is a footer in pure HTML. (c) Edwardo Jackson 2019</h5>
</body>
</html>

